
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

}
button {
  cursor: pointer;
  transition: transform 0.2s ease;
}
button:active {
  transform: translateY(2px);
}


/* дополнит для 2-й страницы */
select {
  padding: 16px;
  font-weight: bold;
  border-radius: 20px;
  appearance: none;
  width: 100%;
}
.select {
  position: relative;
  display: flex;
  width: 200px;
}
.select-arrow {
  position: absolute;
  top: 17px;
  right: 14px;
  pointer-events: none;
}


/* .container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.hero {

}
.hero-container {
  display: flex;
  flex-direction: row;
}
.hero-container > * {
  width: 50%;
}
.hero img {
  height: 300px;
}
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
  }
  .hero-container > * {
    width: 100%;
  }
}
.footer {
  background-color: #000;
  color: #fff;
} */